<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/whatsapp.css">
</head>
<body>
  <div class="whatsapp">
    <div class="users">
      <div class="user-nav">
        <div class="dp"></div>
        <div class="more"><i class="ri-more-2-fill"></i></div>
        <div class="more-options">
          <ul>
            <li><button onclick="joinroom()">New Group</button></li>
            <li>New Community</li>
            <li>Starred messages</li>
            <li>Select chats</li>
            <li><a href="/setting/<%= user._id%>">Setting</a></li>
            <li><a href="/signout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="user-serch">
        <i class="ri-search-2-line user-serch-icon"></i>
        <input type="text" name="" placeholder="Search or start new chat" id="">
      </div>
      <div class="usernames">
        <ul>
          <% alluser.forEach(function(a){ %>
            <li>
              <div class="dps"></div>
              <h4><%= a.username%></h4>
            </li>
            <% }) %>
        </ul>
      </div>
    </div>
    <div class="chats">
      <div class="chat-nav">
        <div class="chatusername-dp">
          <div class="chat-dp"> <img src="https://img.favpng.com/15/8/8/user-profile-2018-in-sight-user-conference-expo-business-default-png-favpng-5EdhQJprgN1HKZdx50LCN4zXg.jpg" alt=""></div>
          <h3 id="uname"><%= user.username%></h3>
        </div>
        <ul>
          <li><i class="ri-vidicon-fill"></i></li>
          <li><i class="ri-search-2-line"></i></li>
          <li><i class="ri-more-2-fill"></i></li>
        </ul>
      </div>
      
      
      <div class="messages">
        <div class="incoming-msg msg">
          <div class="username">yash datir</div>
          <div class="msg-data">helliw hii hellooe</div>
        </div>
        <div class="outgoing-msg msg">
          <div class="username">you</div>
          <div class="msg-data">helliw hii hellooe</div>
        </div>
      </div>
      <div class="send-btn">
        <i class="ri-add-fill"></i>
        <div class="emoji">
          <div class="emojes">
            <img src="/images/icons8-couple-with-heart-woman-man-48.png" alt="">
            <img src="/images/icons8-face-blowing-a-kiss-48.png" alt="">
            <img src="/images/icons8-grinning-face-with-sweat-48.png" alt="">
            <img src="/images/icons8-heart-suit-48.png" alt="">
            <img src="/images/icons8-heart-with-arrow-48.png" alt="">
            <img src="/images/icons8-india-48.png" alt="">
            <img src="/images/icons8-jack-o-lantern-48.png" alt="">
            <img src="/images/icons8-love-48 (1).png" alt="">
            <img src="/images/icons8-love-48.png" alt="">
            <img src="/images/icons8-love-you-gesture-medium-light-skin-tone-48.png" alt="">
            <img src="/images/icons8-pouting-face-48.png" alt="">
            <img src="/images/icons8-sad-but-relieved-face-48 (1).png" alt="">
            <img src="/images/icons8-sad-but-relieved-face-48.png" alt="">
            <img src="/images/icons8-smile-48.png" alt="">
            <img src="/images/icons8-smiling-face-with-halo-48.png" alt="">
            <img src="/images/icons8-smiling-face-with-hearts-48.png" alt="">
            <img src="/images/icons8-smiling-face-with-horns-48.png" alt="">
            <img src="/images/icons8-smiling-face-with-sunglasses-48.png" alt="">
            <img src="/images/icons8-smirking-face-48.png" alt="">
            <img src="/images/icons8-star-struck-48.png" alt="">
          </div>
          <i class="ri-emoji-sticker-line"></i>
        </div>
        <input id="newmsg" type="text" name="" placeholder="type a message" id="">
        
          <button onclick="sendmsg()"><i class="ri-send-plane-2-fill"></i></button>
          
            </div>

    </div>
  </div>

  <script src="/javascripts/index.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();
      var roomname = null
  
    function outgoing(msg){
      document.querySelector(".messages").innerHTML += `<div class="outgoing-msg msg">
          <div class="username">you</div>
          <div class="msg-data">${msg}</div>
        </div>`
    }

    function incoming(msgpacket){
      document.querySelector(".messages").innerHTML += `<div class="incoming-msg msg">
          <div class="username">${msgpacket.username}</div>
          <div class="msg-data">${msgpacket.msg}</div>
        </div>`
    }
    var uname = document.querySelector("#uname").innerHTML
    function sendmsg(){
      var msg = document.querySelector("#newmsg").value
      var msgpacket = {
       username: uname,
       msg: msg,
       roomname:roomname }

      outgoing(msg)
      document.querySelector("#newmsg").value = ""
      socket.emit("sending" , msgpacket)
    }

    socket.on("resivemsg" , (msg)=>{
      console.log(msg)
      incoming(msg)
    })

    function joinroom(){
          roomname = prompt("ENTER GROUP NAME")
          socket.emit("joinroom" , roomname)
        }












    const more = document.querySelector(".more")
const moreoption = document.querySelector(".more-options")
var morecounter = 1
more.addEventListener("click" , function(){
    if(morecounter === 1){
        moreoption.style.display="initial"
        morecounter = 0
    }else{
        moreoption.style.display="none"
        morecounter = 1
    }
})

var emojicounter = 0
document.querySelector(".emoji").addEventListener("click",()=>{
  if(emojicounter == 0){
    document.querySelector(".emojes").style.display="initial"
    emojicounter=1
  }else{
    document.querySelector(".emojes").style.display="none"
    emojicounter=0
  }
})

  </script>

</body>
</html>