*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  height: 100%;
  width: 100%;
  background-color: #cecbcb;
  /* position: relative; */
}
#header{
  height: 245px;
  width: 100%;
  background-color: #00bfa5;
  display: flex;
  padding-left: 200px;
  padding-top: 15px;
  position: absolute;
  top: 0;
}
#header img{
  width: 35px;
  height: 35px;
}
#header h2{
  color: #fff;
  font-family:Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif; ;
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 16px;
}
#center{
  height: 80vh;
  width: 70vw;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin-top: 50px; */
  border-radius: 5px;
  border: 1px solid#868181;
}
#box{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  color: #41525d;
  padding: 56px 0 56px 56px;

}

#box1 h1{
  font-size: 35px;
  color: #7c7a7a;
  font-weight: 100;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}
#para{
  margin-top: 75px;
  text-align: start;
}
#para p{
  font-size: 20px;
  font-family:Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif ;
  margin-top: 30px;
  /* line-height: 1.5; */

}
#box2{
  position: relative;
}
#box2 img{
  width: 250px;
  height: 250px;
  /* margin: 50px 0 0 50px; */
  margin-left: 5vmax;
}
#box2 #google{
  position: absolute;
  top: 92%;
  left: 36%;
}

body {
  text-align: center;
  padding-top: 2rem;
}

form{
  margin-top: -4vmax;
  width: 80%;
  transform: translateX(-14%);
}
form >input{
  background-color: transparent;
  padding: 0.5vmax;
  border: none;
  border-bottom: 0.1vmax solid black;
  outline: none;
}
#password{
  display: none;
}
form >button{
  padding: 0.6vmax;
  background-color: rgb(0,191,165);
  border: none;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 1.2vmax;
}
form >button:hover{
  box-shadow: 0.3vmax 0.3vmax 0.3vmax rgba(0, 0, 0, 0.318);
}
